<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cvsReader" class="com.csv.CsvReader">
        <property name="path" value="data.csv"/>
    </bean>

    <bean id="dataEnricher" class="com.csv.DataEnricher">
        <constructor-arg name="reader" ref="cvsReader"/>
    </bean>

    <bean id="appearance" class="com.service.Appearance">
        <constructor-arg name="dataEnricher" ref="dataEnricher"/>
    </bean>
</beans>
